<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>Opret besked</h1>
<p th:if="${msg != null}" th:text="${msg}"></p>
<!-- <p>
    <a th:href="@{/posts/new}">Opret ny besked</a>
</p> -->

<form method = "post" th:action = "@{/posts}">
    <input type="text" name="title" placeholder="Indtast titel"/>
    <input type="password" name="content" placeholder="Skriv tekst"/>
    <input type="password" name="image" placeholder="Angiv navn på billed, inkl. filtype"/>
    <button type="submit" >Opret</button>
</form>

</body>
</html>