<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>Message Board</h1>

<p><a href="/posts">View posts</a></p>
<!-- <p><a href="/posts/new">Create post</a></p> -->

<!-- <p th:if="${msg != null}" th:text="${msg}"></p>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post: ${posts}">
        <td th:text=" ${post.title}"></td>
        <td th:text=" ${post.content}"></td>
        <td>
           <button type="submit" name=taskId th:value="${task.taskid}" formaction="done">Done</button>
            <button type="submit" name=taskId th:value="${task.taskid}" formaction="edittask">Edit</button>
        </td>
    </tr>
    </tbody>
</table> -->
</body>
</html>