<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>Velkommen til Message Board</h1>

<form method="post" th:action="@{/login}">
    <input type="text" name="username" placeholder="Indtast brugernavn"/>
    <input type="password" name="password" placeholder="Indtast password"/>
    <button type="submit"> Logi </button>
</form>

<p><a th:href ="@{/register}">Opret bruger</a></p>
<p><a th:href ="@{/posts}">Se beskeder</a></p>

</body>
</html>