<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Frontpage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<h1>Opret ny bruger</h1>
<p th:if="${msg != null}" th:text="${msg}"></p>

<form method = "post" th:action = "@{/register}">
    <input type="text" name="username" placeholder="Indtast brugernavn"/>
    <input type="password" name="password1" placeholder="Indtast password"/>
    <input type="password" name="password2" placeholder="Indtast password igen"/>
    <button type="submit" >Opret</button>
</form>

</body>
</html>